<% layout("./layouts/layouts") %>
    <div class="container">

        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="col-md-4">
                </div>
                <div class="card rounded-5">
                    <div>
                        <a class="btn  mt-1 mt-sm-0 " style="font-size:1.5rem;" href="/customer"><i
                                class="fas fa-arrow-left"></i></a>
                    </div>

                    <center><img src="<%= t.avatar %> " class="card-img-top rounded-5 b "
                            style=" width: 25rem; border-radius: 50px; padding: 20px;" alt="..."></center>
                    <div class="d-flex align-items-center">
                        <div class="card-body">
                            <h5 class="card-title" style="text-transform: capitalize;"><b>
                                    <%= t.username %>
                                </b></h5>
                            <a href="mailto:<%= t.email %>" class="card-text text-muted"
                                style="text-decoration: none;"><i class="fas fa-envelope"
                                    style="transform: rotate(-5deg);"></i>
                                <%= t.email %>
                            </a>
                            <p class="card-text text-muted"><i class="fas fa-phone"></i>
                                <%= t.contact %>
                            </p>
                        </div>
                        <div class="card-body ">
                            <center>
                                <a class="btn  btn-md btn-warning" href="/customer/<%= t._id %>/history">Transfer
                                    history</a>
                                <a class="btn  btn-md btn-success mt-1 mt-md-0"
                                    href="/customer/<%= t._id %>/transfer">Transfer
                                    Money</a>
                            </center>
                        </div>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Account Balance <b>$<%= t.Balance %></b></li>
                        <li class="list-group-item text-muted"><b>About: </b>
                            <%= t.about %>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>